:root {
    --bgPrimary: #fff;
    --bgSecondary: #f1f1f1;
}

input[type='text'], input[type='password'], input[type='number'], textarea {
    -webkit-appearance: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

#login_form .LoginButton {
    margin-bottom: 0px !important;
}
